.sidebar_language {
  border-right: 2px solid gray;
  height: 100vh;
  overflow: auto;
  padding: 10px;
  background-color: #1e293b;
}

/* ===============================  */
.sidebar_data_content {
}
.sidebar_data_content h2 {
  padding-bottom: 5px;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: bold;
}
.sidebar_data_content li {
  list-style: none;
  color: gray;
  /* font-weight: bold; */
  padding-left: 15px;
  padding-bottom: 3px;
  font-size: 19px;
  width: 100%;
  cursor: pointer;
}
