@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif !important;
  overflow-x: hidden !important;
  background-color: #111827;
  color: white;
  scroll-behavior: smooth;
}
