.recomemeded_courses{
    /* border: 2px solid red; */
    margin: 50px 0px;
}
.recommend_content{
    /* border: 2px solid white; */
}
.recommend_content p{
    color: gray;
    width: 850px;
    margin: 10px auto;
    text-align: justify;
}