.swiper_main {
  height: 350px;
  width: 100%;
  margin: 30px 0px;
}

/* --------------------- swiper_content */
.swiper_content {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.swiper_content img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.swiper_content_child h2 {
  font-size: 30px;
  font-weight: bold;
  color: #9333ea;
  margin: 5px 0px;
}
.swiper_content_child p {
  color: gray;
}
.swiper_content_child {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #111827;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/* ========================== eduction  */

.timeline-caption-outer {
  text-align: center;
}

.timeline-caption-outer .timeline-caption {
  background: #fff;
  padding: 17px 24px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.timeline-caption-outer .timeline-caption span {
  margin-left: 3px;
}

.timeline .timeline-item {
  position: relative;
  padding: 0 40px;
  margin-top: -60px;
}

.timeline .timeline-item:first-child {
  margin-top: 0px;
  padding-top: 75px;
}

.dark-version .timeline .timeline-outer {
  background: rgba(255, 255, 255, 0.2);
}

.timeline .timeline-outer {
  background: rgba(255, 255, 255, 0.15);
  padding: 45px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.timeline .timeline-item h5 {
  margin: 3px 0 10px;
}

/* timeline arrow  */

.timeline-outer:after {
  display: block;
  content: "";
  position: absolute;
  top: 30%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.15);
}

.timeline .timeline-item:nth-child(odd) .timeline-outer:after {
  right: 24px;
}

.timeline .timeline-item:nth-child(even) .timeline-outer:after {
  left: 24px;
  border-width: 8px 8px;
  border-color: transparent rgba(255, 255, 255, 0.15) transparent transparent;
}

/* timeline line  */

.timeline .timeline-item:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  background: #d1ed5d;
  top: 0;
}

.timeline .timeline-item:nth-child(odd):after {
  right: 0;
}

.timeline .timeline-item:nth-child(even):after {
  left: -1px;
}

.timeline .timeline-item:last-child:after {
  height: 32%;
}

/* timeline dots  */

.timeline .timeline-item:before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background: #d0ed5d;
  border-radius: 50px;
  top: 31%;
}

.timeline .timeline-item:nth-child(odd):before {
  right: -4.5px;
}

.timeline .timeline-item:nth-child(even):before {
  left: -6px;
}

@media (max-width: 450px) {
  .swiper_main {
    height: 400px;
  }
}
