.button {
  padding: 5px 30px;
  background-color: #ab64f7;
  color: white;
}
.button:hover {
  background-color: #581c87;
  transform: scale(1.01);
  transition: all 0.2s linear;
}
.whitebtn {
  color: black;
  background-color: whitesmoke;
  padding: 6px 30px;
  margin: 10px 10px 10px 0px;
}
.whitebtn:hover {
  background-color: rgb(202, 199, 199);
}
